.header {
  margin: 20px auto;
  max-width: 600px;
  font-size: calc(10px + 1.5vmin);
}

.scan-list {
  font-size: calc(10px + 1vmin);
  max-width: 600px;
  margin: 0 auto;
  border-style: solid;
}

.scan-list-item {
  padding: 10px;
}

.user-name {
  padding: 10px;
  font-size: calc(10px + 0.5vmin);
}
